*{
  margin: 0;
  padding: 0;
}

/* so pra dar rolagem para tela  */
.container-principal {
  height: 150vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

/* cabeçalho (INICIO) */
.estetica-cabecalho{
  background-color: #DC4405;
  display: flex;
  justify-content: center;
  align-items: center;
}

.estetica-cabecalho .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* cabeçalho (FIM) */

/* bolha navbar (INICIO) */
.bolha-navbar {
  position: fixed;
  bottom: 20px;               
  left: 50%;                 
  transform: translateX(-50%);
  z-index: 1000;
}

.estetica-navbar {
  background-color: #DC4405 ;
  border-radius: 30px;
  width: 80vh;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  background-image: linear-gradient(45deg, #DC4405, #FF5C00 );
}

.estetica-navbar a {
    text-align: center;
    position: relative;
}

.estetica-navbar a::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.2s ease-in-out;
}

.estetica-navbar a:hover::after,
.estetica-navbar a.active::after {
    width: 100%;
}

@media (max-width: 576px) {
    .estetica-navbar{
        background-color: #DC4405 ;
        border-radius: 30px;
        width: 40vh;
        display: flex;
        gap: 15px;
    }
}
/* bolha navbar (FIM) */


/* container dos botões principais */
.container-botoes{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  
  
}

/* estilo geral dos botões */
.bloco-kits, .bloco-categoria{
  width: 45%; 
  height: 250px;
  background-color: #DC4405;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  gap: 10px;
  transition: 0.3s;
}

/* arredondamento individual */
.bloco-categoria{
  border-radius: 0px 40px 40px 0px; 
}

.bloco-kits{
  border-radius: 40px 0px 0px 40px; 
}

/* efeito hover */
.bloco-kits:hover,
.bloco-categoria:hover {
  background-color: #FF5C00;
  transform: scale(1.05);
}

/* Rodape (INICIO) */
.rodape{
  background-color: #DC4405;
  width: 100%;
  height: 40vh;
}
/* Rodape (FIM) */
